.auth-box
{
  width: 25rem;
  margin: 3.125rem auto;
  border: 0.063rem solid #d3d3d3;
  padding: 1.875rem;
  border-radius: 0.25rem;
  font-family: Arial, sans-serif;
  background: #fff;
}

.auth-box h2
{
  margin-bottom: 1.25rem;
  font-size: 1.75rem;
}

.auth-form
{
  display: flex;
  flex-direction: column;
  gap: 0.938rem;
}

.auth-form input
{
  padding: 0.625rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  border: 0.063rem solid #999;
}

.error
{
  color: red;
  font-size: 0.8125rem;
}
.auth-btn
{
  padding: 0.625rem;
  width: 100%;
  background: #f2f2f2;
  border: 0.063rem solid #999;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 0.25rem;
}

.auth-switch-text
{
  margin-top: 1.25rem;
  text-align: center;
  font-size: 0.95rem;
}

@media (max-width: 56.25rem)
{
  .auth-box
  {
    width: 80%;
    padding: 1.5rem;
  }

  .auth-btn
  {
    font-size: 0.95rem;
  }
}

@media (max-width: 37.5rem)
{
  .auth-box
  {
    margin: 2rem;
    width: 90%;
    padding: 1.25rem;
  }

  .auth-box h2
  {
    font-size: 1.5rem;
  }

  .auth-form input
  {
    font-size: 0.95rem;
    padding: 0.55rem;
  }

  .auth-btn
  {
    padding: 0.6rem;
    font-size: 0.95rem;
  }

  .auth-switch-text
  {
    font-size: 0.85rem;
  }

  .error
  {
    font-size: 0.75rem;
  }
}
